.media-queries {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aquamarine;
}

.ex {
    width: 25px;
    height: 25px; 
}

.block {
    width: 100px;
    height: 100px;
    background-color: bisque;
}

.dissapearing {
    display: none;
}


@media screen  and (min-width: 768px) {
    .media-queries {
        width: calc(100% - 40px);
        margin: 0 auto;
        height: 30vh;
        background-color: aquamarine;
    }
}
